{% load staticfiles %}
<html>
<head>
    <script src="//upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.9.0.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
</head>

<body>
    <div class="page-header">
        <h1>oui</h1>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>运动距离(公里)</th>
                    <th>运动类型</th>
                    <th>运动持续时间</th>
                    <th>开始日期</th>
                    <th>平均速度(公里/小时)</th>
                    <th>消耗卡路里(大卡)</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itemList %}
                    <tr>
                        <td>{{ item.T_ActDist }}</td>
                        <td>{{ item.T_ActType }}</td>
                        <td>{{ item.T_ActDuration }}</td>
                        <td>{{ item.T_ActStartDate }}</td>
                        <td>{{ item.T_ActAvgSpd }}</td>
                        <td>{{ item.T_ActCalBurn }}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
         <ul class="pagination">
            {% if itemList.has_previous %}
            <li>
               <span><a href="?page={{ itemList.previous_page_number }}">&laquo</a></span>
            </li>
            {% else %}
            <li>
               <span>&laquo</span>
            </li>
            {% endif %}
            <li>
               <span> Page {{ itemList.number }} of {{ itemList.paginator.num_pages }}.</span>
            </li>
            {% if itemList.has_next %}
            <li>
               <span><a href="?page={{ itemList.next_page_number }}">&raquo</a></span>
            </li>
            {% else %}
            <li>
               <span>&raquo</span>
            </li>
            {% endif %}
         </ul>
     </div>
     <div class="col-md-4" >
          <form method="post" id="actAdd">
          {% csrf_token %}
          <label for='dist'>运动距离</label>
          <input type='text' id='dist'/>
          <button type='submit' id='submit'>提交</button>
          </form>
     </div>
</body>
</html>
